.Block {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px 15px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--white);
    width: 100%;
}
