
.title {
    margin: 0;
}

.description {
    margin: 0 0 15px 0;
    font-size: 1rem;
}

.upload {
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.upload-wrapper {
    display: flex;
    margin: 0 20px;

    .upload-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        font-size: 1.8rem;
        color: var(--active-color);
    }

    .upload-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .upload-text {
            display: flex;
            font-size: 1.1rem;
            margin: 0;
            font-weight: bold;
            color: var(--active-color);
        }

        .upload-hint {
            display: flex;
            font-size: 0.8rem;
            margin: 0;
        }
    }


}


.upload-btn {
    margin: 25px 0 0 0;
    height: 2.5rem;
}
