.Spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    z-index: 10000;
}

.local {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.global {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
