.form {
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin: 0;
    font-size: 1rem;
}

.tags {
    margin-bottom: 10px;
}

.tags-title {
    font-size: 1rem;
    margin-right: 10px;
}

.tags-item {
    font-size: 1rem;
    background-color: var(--grey-100);
}

.tags-item-active {
    font-size: 1rem;
}

.field {
    margin: 5px 0;
}

.item {
    display: flex;
}

.icon {
    cursor: pointer;
    font-size: 1.15rem;
    margin-left: 10px;
    color: var(--grey-600);

}

.expired-date-field {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.expiration-switch {
    margin-right: 10px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    width: 100%;
    margin-top: 5px;
}
