.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-bar {
    display: flex;
}

.tag-bar {
    display: flex;
    margin-top: 15px;
}

.tag {
    margin-left: 10px;
    border-radius: 0.4rem;
    font-size: 0.95rem;
}