.form-description-title {
    margin-left: 5px;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: var(--grey-700);
}

.form-description-content {
    margin-left: 5px;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--black);
}