.ant-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 22px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: none;
    min-width: 5rem;
    height: 40px;
}

.ant-btn-primary,
.ant-btn-primary:focus {
    background-color: var(--primary-color);
    color: var(--white);
}

.ant-btn-primary:hover {
    box-shadow: none;
}