.ant-upload-drag {
    min-height: 0 !important;
    border: 1.5px solid #E0F1FF !important;
    padding: 8px 5px;

    .ant-upload {
        padding: 0;
    }
}

.ant-upload-list-item-info {
    margin: 10px;
}

.ant-upload-list-text .ant-upload-text-icon .anticon {
    font-size: 1.3rem;
}

.ant-upload-list-item-name {
    font-size: 1rem;
}

.ant-upload-list-text-container {
    margin-top: 10px;
}

.ant-upload-list-item-name {
    font-size: 1rem;
}

.ant-upload-list-item .ant-upload-list-item-undefined {
    background-color: var(--white) !important;
}

.ant-upload-list-item:hover {
    background-color: var(--white) !important;
}


.ant-tooltip-placement-top {
    display: none !important;
}