.ant-upload-list-item-info {
    margin: 10px;
}

.ant-upload-list-text .ant-upload-text-icon .anticon {
    font-size: 1.3rem;
}

.ant-upload-list-item-name {
    font-size: 1rem;
}

.ant-upload-list-text-container {
    margin-top: 10px;
}

.ant-upload-list-item-error, .ant-upload-list-item-error .ant-upload-text-icon > .anticon, .ant-upload-list-item-error .ant-upload-list-item-name {
    color: black;
}
